{% extends 'base.html'%}
<!-- Content block -->
{% block content%}
<div class="container" style="padding-top:100px;padding-bottom: 200px;"> 
    <div style="margin-bottom: 0em;">
        
        <h1 style="text-align: center;padding: 10px;font-weight: bold;font-family: 'Literata', serif;"> Blog Boss<small>®</small></h1><hr>
        <span><h4 style="text-align: center;padding-bottom: 20px;"> Welcome</h4></span>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=761&q=80" alt="First slide" style="width: 100px;height: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <span><h1 style="color: white;font-weight: bold;">Lifestyle</h1></span>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://images.unsplash.com/photo-1478803431644-b832801eefa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Second slide" style="width: 100px;height: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <span><h1 style="color: white;font-weight: bold;">Fashion</h1></span>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://images.pexels.com/photos/2479312/pexels-photo-2479312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Third slide" style="width: 100px;height: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <span><h1 style="color: white;font-weight: bold;">Music</h1></span>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://images.pexels.com/photos/2294361/pexels-photo-2294361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Third slide" style="width: 400px;height: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <span><h1 style="color: white;font-weight: bold;">Fitness</h1></span>
                </div>
            </div>
        </div>
    </div> 
    

    <article role="main" class="container" >
        <div class="row">
            <div class="col-md-4" style="padding-top: 40px;padding-bottom: 40px;">

                <!---Random quotes go here-->
     
                <div class="content-section" style="margin-left: 20px;">
                    
                    <span><h5 style="text-align: center;">Blog categories</h5></span>
                    <p>
                        <ul class="list-group">
                            <a style="text-decoration:none;text-align: center;" href="{{url_for('main.fashion_blogs')}}" ><li class="list-group-item list-group-item-light" ><span>Fashion </span>  </li></a>
                            <a style="text-decoration:none;text-align: center;" href="{{url_for('main.lifestyle_blogs')}}"><li class="list-group-item list-group-item-light" ><span>Lifestyle</span>  </li></a>
                            <a style="text-decoration:none;text-align: center;" href="{{url_for('main.travel_blogs')}}"><li class="list-group-item list-group-item-light" ><span>Travel</span>  </li></a>
                            <a style="text-decoration:none;text-align: center;" href="{{url_for('main.music_blogs')}}"><li class="list-group-item list-group-item-light" ><span>Music</span>  </li></a>
                            <a style="text-decoration:none;text-align: center;" href="{{url_for('main.fitness_blogs')}}"><li class="list-group-item list-group-item-light" ><span>Fitness</span>  </li></a>

                        </ul>
                    </p>
                </div><br><br>

            </div>
            <div class="col-md-8"style="padding-top: 40px;" >
                <blockquote class="quote-box text-center primary-color" style="padding: 40px;">
                    <span><h3> Random Quotes</h3></span>
                    <p class="quote-text">
                        " {{quote.quote}} "
                    </p>
                    <hr />
                    <div class="blog-post-actions">
                        <p class="blog-post-bottom">
                            {{quote.author}}
                        </p>
                    </div>
                </blockquote>
            </div>
        </div>
    </article><br>

    <div>
        <span><h2>Specials</h2></span>
        <hr>
        <div class="card">
            <div class="container">
              <h4><span>How To Become Self-Made</span></h4>
              <p>Being self-made means having become rich or successful by your own efforts. It means that you are fully accountable for your own success, and for where you are in all aspects of your life.

                So how does one become self-made? It all starts by…</p>
                <small class="text-muted" >Author: Bossheels.com</small><br>
                <small class="text-muted" >Posted: FEBRUARY 13, 2017</small><br><br>
              <a href="https://www.bossinheels.com/how-to-become-self-made/"><i> click for more...</i></a>
              
            </div>
        </div>  <br><br>
        <div class="card">
            <div class="container">
              <h4><span> Becoming the Boss</span></h4>
              <p>Even for the most gifted individuals, the process of becoming a leader is an arduous, albeit rewarding, journey of continuous learning and self-development. The initial test along the path is so fundamental that we often overlook it: becoming a boss for the first time. That’s a shame, because the trials involved in this rite of passage have serious consequences for both the individual and the organization...</p>
              <small class="text-muted" >Author: Linda A. Hill</small><br>
              <small class="text-muted" >Posted : JANUARY 13, 2007</small><br><br>
              <a href="https://hbr.org/2007/01/becoming-the-boss"><i> click for more...</i></a>
            </div>
        </div> <br><br>
    </div>
</div>
{% endblock content%}

